<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须是接口全类名： -->
<mapper namespace="pnunu.ssm.mapper.BlogMapper">
	<resultMap type="pnunu.ssm.po.Blog" id="blogMap">
		<id column="blog_id" property="bolgId"/>
		<result column="class_id" property="classId"/>
		<result column="blog_name" property="blogName"/>
		<result column="blog_text" property="blogText"/>
		<result column="blog_date" javaType="java.util.Date" property="blogDate"/>
	</resultMap>
	<insert id="addBlog" parameterType="pnunu.ssm.po.Blog">
		insert into blog(class_id, blog_name, blog_text, blog_date) 
		values(#{classId}, #{blogName}, #{blogText}, #{blogDate})
	</insert>
	<delete id="delBlog" parameterType="java.lang.Integer">
		delete from blog where blog_id = #{bolgId}
	</delete>
	<update id="updateBlog" parameterType="pnunu.ssm.po.Blog">
		update blog set class_id=#{classId}, blog_name=#{blogName}, blog_text=#{blogText}, blog_date=#{blogDate}
		where blog_id = #{bolgId}
	</update>
	<select id="findBlog" resultMap="blogMap" parameterType="java.lang.Integer">
		select * from blog limit #{currentPage},10
	</select>
	<select id="findCount" resultType="java.lang.Integer">
		select count(1) from blog
	</select>
	<!-- #{} 在预处理时，会把参数部分用一个占位符 ? 代替  -->
	<select id="blogById" resultMap="blogMap" parameterType="java.lang.Integer">
		select * from blog where blog_id = #{id}
	</select>
</mapper>