<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须是接口全类名： -->
<mapper namespace="pnunu.ssm.mapper.ResourceMapper">
	<!-- resource_id,parent_id,resource_name,resource_desc,resource_url,resource_icon,resource_type  -->
	<resultMap type="pnunu.ssm.po.ResourcePo" id="resourceMap">
		<id column="resource_id" property="resourceId"/>
		<result column="parent_id" property="parentId"/>
		<result column="resource_name" property="resourceName"/>
		<result column="resource_desc" property="resourceDesc"/>
		<result column="resource_url" property="resourceUrl"/>
		<result column="resource_icon" property="resourceIcon"/>
		<result column="resource_type" property="resource_type"/>
	</resultMap>
	<insert id="addResource" parameterType="pnunu.ssm.po.ResourcePo">
		insert into t_resource(resource_id, parent_id, resource_name, resource_desc, resource_url, resource_icon, resource_type) 
		values(#{resourceId}, #{parentId}, #{resourceName}, #{resourceDesc}, #{resourceUrl}, #{resourceIcon}, #{resource_type})
	</insert>
	<delete id="delResource" parameterType="java.lang.Integer">
		delete from t_resource where resource_id = #{resourceId}
	</delete>
	<update id="updateResource" parameterType="pnunu.ssm.po.ResourcePo">
		update t_resource set parent_id = #{parentId}, resource_name = #{resourceName}, resource_desc = #{resourceDesc}, resource_url = #{resourceUrl}, resource_icon = #{resourceIcon}, resource_type = #{resource_type}
		where resource_id = #{resourceId}
	</update>
	<select id="findResource" resultMap="resourceMap" parameterType="java.lang.Integer">
		select re.* from t_resource re,t_role_resource ro where ro.resource_id = re.resource_id and ro.role_id = #{roleId}
	</select>
</mapper>
