@CHARSET "UTF-8";
.newsInfo:hover {
    background: #eee;
    color: #333;
    z-index: 999;
}
.newsInfo {

    position: relative;
    z-index: 0;
}  
.newsInfo span {
	
    display: none;
} 
.newsInfo:hover span {
    display: block;
    position: absolute;
    min-width:400px;
    top: 28px;
    left:100px;
    border: 1px solid #cccccc;
    background: #C1CDC1;
    color: black;
    padding: 5px;
    text-align: left;
    overflow: hidden;
}
.newInfoTruncation {
    width:120px;
    white-space:nowrap; 
    word-break:keep-all; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
